{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}

{% if posting == True %}
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p}}
            <button type='submit' class='post' id=''>Post!</button>
    </form>
{% endif %}

{% for post in posts %}
    <article>
        <div class="container-article">
            <!-- <img src="../../static/batman.png">  Mostrando imágen estáticamente-->
            <img src=" {{ post.user.profile.image.url }} "> <!--Accediendo dínamicamente al campo en la bd que contiene la img-->
            <div>
                <h2 class="username"><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2><!--redireccionar hacia ese usuario-->
                <i class="clock"></i>
                <time data-time="#">{{ post.timestamp|naturaltime }}</time>
                <div class="post">{{ post.content }}</div>
            </div>
        </div>
    </article>
{% endfor %}
{% endblock %}