{% extends 'social/layout.html' %}
{% load humanize %}
{% block content %}
        
<div class="panel-chat-usuarios">
    <div class="panel-chat-datos">
        <div class="chat-avatar">
            <img src=" {{ to.profile.image.url }} ">
            <span class="estado-usuario"></span>
        </div>
        <div class="datos-usuario">
            <h5>Conversando con</h5>
            <p>{{to}}</p>
        </div>
    </div>
    
    <form class='form' method='POST'>
        {% csrf_token %}
        <input type="text" name="content" placeholder='Dile algo a {{to}}' required>
        <button type='submit' class='inbox' id=''>Enviar</button>
    </form>

<!--Mensajes-->
<div class="panel-chat-body">
    {% for i in inboxs %}
        {% if i.sender_id == user.id and i.to_user_id == toId or i.sender_id == toId and i.to_user_id == user.id %}
            <!-- mensaje derecha -->
            {% if i.sender_id == toId and i.to_user_id == user.id %}
            <div class="panel-msj-izq">
                <div class="chat-cuerpo">
                    <div class="contenedor-msj">
                        <td>{{i.created_at|naturaltime}}</td>
                    </div>
                    <div class="contenedor-msj-footer">
                        <ul class="botones-footer">
                            <li>
                                <i class="fas fa-eye"></i>
                            </li>
                            <td>{{to}} dice: </td>
                            <td>{{i.content}}</td>
                        </ul>
                    </div>
                </div>
            </div>            

            {% endif %}
            <!-- mensaje izquierda -->
            {% if  i.sender_id == user.id and i.to_user_id == toId %}
            <div class="panel-msj-der">
                <div class="chat-cuerpo">
                    <div class="contenedor-msj">
                        <td>{{i.created_at|naturaltime}}</td>
                    </div>
                    <div class="contenedor-msj-footer">
                        <ul class="botones-footer">
                            <li>
                                <i class="fas fa-eye"></i>
                            </li>
                            {% comment %} <td>{{i.sender_id}}</td> {% endcomment %}
                            <td>Yo: </td>
                            <td>{{i.content}}</td>
                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}

