{% extends 'social/feed.html' %}
{% block content %}
{% load static %}

{% block js %}
<script>
    function alerta(articuloid){
        alert('Correo eléctronico enviado')
    }
</script>
{% endblock %}

<head>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>   
    {% for i in pet %} {#Recorrer lista de artículos#}
        <form  method="POST">
            {% csrf_token %}
            <h2>Contactar</h2>
            {% if i.image != 'null' and i.image.url|length >= 1 %} <!-- y es diferente a null si image existe lo va a mostrar-->              
            <img src="{{i.image.url}}" width="260" height="260"> <!-- Con .url me saca la url del fichero donde se encuentra las imagenes-->                
        {% endif %}
        <br>
        <br>
            <label>Nombre</label>
            <input type="text" name="Usuario" class="campo" readonly value="{{ user.username }}" >

            <label>Correo Electrónico</label>
            <input type="email" name="Correo_electronico" class="campo" readonly  value="{{ user.email }}">

            <label>Asunto</label>
            <select for="categories" name="categories" class="custom-select mr-sm-2" id="cars">
                <option selected>Escoge..</option>
                <option value="1">Quiero adoptar esa mascota</option>
                <option value="2">Donde puedo ir a buscar la la mascota</option>
                <option value="3">Dar las gracias</option>
                <option value="4">Otro asunto</option>
              </select>
              <br></br>
            <label>Comentarios</label>
            <textarea name="Comentarios" placeholder="Tu Mensaje..."></textarea>

            <input type="hidden" name="Disponible" class="campo" readonly value="Recuerde dejar su mascota como no disponible al terminar la adopcion !" >         
            {% comment %} <button type="submit" class="btn-enviar" disabled="True">Enviar</button> {% endcomment %}
            <button type='submit' class='post' id=''>Post!</button>
            {% comment %} <a href="{% url 'feed' %}" id="boton-post" class="btn btn-outline-success">Enviar correo</a> {% endcomment %}
     </form>
    {% endfor %}
{% endblock %}