{% extends 'social/layout.html' %}
{#{% load filters %}#}
{% comment %} {% block title %} Formularios Artículos {% endblock title %} {% endcomment %}
{% block content %}

{% comment %} <h1>{{title}}</h1> {% endcomment %}
{% if form.errors %}
    <strong class="rojo"> Hay errores en el Formulario </strong>
{% endif %}

<form action="" method="POST" enctype='multipart/form-data' id="formulario-editar">
    {% csrf_token %}
    
    {{ form.as_ul }}

    <input type="submit"  class="btn btn-primary" value="Editar"/>
    {# <div id="mensaje" class="alert alert-success" role="alert">{{mensaje}}{{mensaje2}}</div> #}
</form>

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                position: 'center',
                icon: 'success',
                timer: 2000,
                title: 'Datos de mascota editados',
                showConfirmButton: false,
                timer: 1500
              })
        </script>
    {% endfor %}
{% endif %}
{% endblock %}
